<br /><br />

<div class="row text-center">
  <h4>Uyumlu Model Ekle</h4>
</div>
<br />
<div class="container" style="width: 600px">
  <div class="row">
    <form [formGroup]="uyumModelForm">
      <span
        *ngIf="
          !uyumModelForm.get('uyumMarkaId').valid &&
          uyumModelForm.get('uyumMarkaId').touched
        "
        class="help-block"
        >Lütfen geçerli bir uyumlu marka ismi giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >uyumMarkaId</span
        >
        <input
          type="number"
          class="form-control visually-hidden"
          aria-describedby="basic-addon1"
          formControlName="uyumMarkaId"
        />
      </div>

      <span
        *ngIf="
          !uyumModelForm.get('uyumModelAdi').valid &&
          uyumModelForm.get('uyumModelAdi').touched
        "
        class="help-block"
        >Lütfen geçerli bir uyumlu model ismi giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Uyumlu Model Adı</span
        >

        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="uyumModelAdi"
        />
      </div>
    </form>
  </div>

  <div class="row" style="margin-left: 0.5px; margin-right: 0.5px">
    <button class="btn btn-primary" (click)="ekle()">Ekle</button>
  </div>

  <div *ngIf="eklendiMi" class="alert alert-success" role="alert">
    {{ mesaj }}
  </div>
  <div *ngIf="eklenmediMi" class="alert alert-danger" role="alert">
    {{ mesaj }}
  </div>
  <div *ngIf="formHataliMi" class="alert alert-danger" role="alert">
    {{ mesaj }}
  </div>
</div>
