<br />
<section class="bg-secondary">
  <div class="container">
    <br />
    <div class="row">
      <div
        class="
          col-lg-4
          d-flex
          flex-row
          justify-content-center
          align-items-center
        "
      >
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a href="#">
              <img src="assets/logoLmc.png" style="width: 200px" alt="Logo" />
            </a>
          </li>
          <li class="list-group-item border-0">
            LMC AKSESUAR olarak, kaliteli ve garantili telefon aksesuarlarını,
            bayilerimize en uygun şartlarda sunuyoruz.
          </li>
          <li class="list-group-item border-0">
            <p>
              <i class="bi bi-house-fill"></i> Tahtakale, Tahtakale Cd. No:47,
              34116 Fatih/İstanbul, Türkiye
            </p>
          </li>
          <li class="list-group-item border-0">
            <p><i class="bi bi-telephone-fill"></i> 0531 944 1919</p>
          </li>
        </ul>
      </div>

      <div
        class="
          col-lg-4
          d-flex
          flex-row
          justify-content-center
          align-items-center
        "
      >
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a href="#">
              <img src="assets/logoLmc.png" style="width: 200px" alt="Logo" />
            </a>
          </li>
          <li class="list-group-item border-0">
            LMC AKSESUAR olarak, kaliteli ve garantili telefon aksesuarlarını,
            bayilerimize en uygun şartlarda sunuyoruz.
          </li>
          <li class="list-group-item border-0">
            <p>
              <i class="bi bi-house-fill"></i> Tahtakale, Tahtakale Cd. No:47,
              34116 Fatih/İstanbul, Türkiye
            </p>
          </li>
          <li class="list-group-item border-0">
            <p><i class="bi bi-telephone-fill"></i> 0531 944 1919</p>
          </li>
        </ul>
      </div>
      <div
        class="
          col-lg-4
          d-flex
          flex-row
          justify-content-center
          align-items-center
        "
      >
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a href="#">
              <img src="assets/logoLmc.png" style="width: 200px" alt="Logo" />
            </a>
          </li>
          <li class="list-group-item border-0">
            LMC AKSESUAR olarak, kaliteli ve garantili telefon aksesuarlarını,
            bayilerimize en uygun şartlarda sunuyoruz.
          </li>
          <li class="list-group-item border-0">
            <p>
              <i class="bi bi-house-fill"></i> Tahtakale, Tahtakale Cd. No:47,
              34116 Fatih/İstanbul, Türkiye
            </p>
          </li>
          <li class="list-group-item border-0">
            <p><i class="bi bi-telephone-fill"></i> 0531 944 1919</p>
          </li>
        </ul>
      </div>
    </div>
    <br />
  </div>
</section>
