<br /><br />

<div class="row text-center">
  <h4>Profil Güncelle</h4>
</div>
<br />
<div class="d-flex justify-content-around">
  <button
    type="button"
    class="btn btn-outline-dark btn-sm"
    style="width: 200px"
    routerLink="/profil"
  >
    Güncel Siparişler
  </button>
  <button
    type="button"
    class="btn btn-outline-success btn-sm"
    style="width: 200px"
    routerLink="/profil/siparis-gecmisi"
  >
    Sipariş Geçmişi
  </button>
</div>
<br />
<div class="container" style="width: 600px">
  <div class="row">
    <form [formGroup]="kayitForm">
      <span
        *ngIf="
          !kayitForm.get('firstName').valid &&
          kayitForm.get('firstName').touched
        "
        class="help-block"
        >Lütfen geçerli bir isim giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >İsim</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="firstName"
        />
      </div>
      <span
        *ngIf="
          !kayitForm.get('lastName').valid && kayitForm.get('lastName').touched
        "
        class="help-block"
        >Lütfen geçerli bir soyisim giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Soyisim</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="lastName"
        />
      </div>

      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Firma</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="firma"
        />
      </div>
      <span
        *ngIf="!kayitForm.get('email').valid && kayitForm.get('email').touched"
        class="help-block"
        >Lütfen geçerli bir email giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Email</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="email"
        />
      </div>

      <span
        *ngIf="
          !kayitForm.get('telefon').valid && kayitForm.get('telefon').touched
        "
        class="help-block"
        >Lütfen geçerli bir telefon giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Telefon</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="telefon"
        />
      </div>
      <span
        *ngIf="!kayitForm.get('adres').valid && kayitForm.get('adres').touched"
        class="help-block"
        >Lütfen geçerli bir adres giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Adres</span
        >
        <textarea
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="adres"
        ></textarea>
      </div>
    </form>
  </div>

  <div
    class="row"
    style="margin-left: 0.5px; margin-right: 0.5px; margin-bottom: 3px"
  >
    <button class="btn btn-success" (click)="guncelle()">Güncelle</button>
  </div>
  <div class="row" style="margin-left: 0.5px; margin-right: 0.5px">
    <button class="btn btn-dark" (click)="sil()">Sil</button>
  </div>
</div>
