<br /><br />

<div class="row text-center">
  <h4>Operasyon Yetki Ekle</h4>
</div>
<br />
<div class="container" style="width: 600px">
  <div class="row">
    <form [formGroup]="operasyonYetkiForm">
      <span
        *ngIf="
          !operasyonYetkiForm.get('name').valid &&
          operasyonYetkiForm.get('name').touched
        "
        class="help-block"
        >Lütfen geçerli bir operasyon yetki adı giriniz.</span
      >
      <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Operasyon Yetki Adı</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="name"
        />
      </div>
    </form>
  </div>

  <div class="row" style="margin-left: 0.5px; margin-right: 0.5px">
    <button class="btn btn-primary" (click)="ekle()">Ekle</button>
  </div>

  <div *ngIf="eklendiMi" class="alert alert-success" role="alert">
    {{ mesaj }}
  </div>

  <div *ngIf="eklenmediMi" class="alert alert-danger" role="alert">
    {{ mesaj }}
  </div>

  <div *ngIf="formHataliMi" class="alert alert-danger" role="alert">
    {{ mesaj }}
  </div>
</div>
