<br /><br />

<div class="row text-center">
  <h4>Giriş Yap</h4>
</div>
<br />
<div class="container" style="width: 600px">
  <div class="row">
    <form [formGroup]="girisForm">
      <span
        *ngIf="!girisForm.get('email').valid && girisForm.get('email').touched"
        class="help-block"
        >Lütfen geçerli bir email giriniz.</span
      >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Email</span
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="email"
        />
      </div>
      <span
        *ngIf="
          !girisForm.get('password').valid && girisForm.get('password').touched
        "
        class="help-block"
        >Lütfen geçerli bir parola giriniz.</span
      >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1" style="width: 160px"
          >Parola</span
        >
        <input
          type="password"
          class="form-control"
          aria-describedby="basic-addon1"
          formControlName="password"
        />
      </div>
    </form>
  </div>

  <div class="row" style="margin-left: 0.5px; margin-right: 0.5px">
    <button class="btn btn-primary" (click)="login()">Giriş Yap</button>
    <a class="btn btn-dark" href="kayit-ol" style="margin-top: 3px">Kayıt Ol</a>
  </div>
</div>
